.hero {
  padding: 72px 0;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--grey);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../../images/images-mobile/mhero-office-mob.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.hero-container {
    margin-left: auto;
    margin-right: auto;
}
.h-one {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--color-hero, #FFF);
  text-align: center;
  margin-bottom: 48px;
  margin-right: auto;
  margin-left: auto;
}
.hero-button {
    color: #ffffff;
    background-color: #4d5ae5;
    font-size: 16px;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .section-one-color {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-mobile/mhero-office-mob@2x.jpg);
  }
}


/* ========== TABLET ========== */
@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
            to bottom,
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url(../../images/images-tablet/tablhero-office.jpg);
      }
    }
    .hero-button:hover {
  background-color: #404bbf;
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
  .section-one-color {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-tablet/tablhero-office@2x.jpg);
  }
}
/* ========== DESKTOP========== */
@media screen and (min-width: 1158px) {
  .section-one-color {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-desk/desk-hero-office.jpg);
  }

  .button-style {
    margin-top: 48px;
  }
}
@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px),
  screen and (min-device-pixel-ratio: 2) and (min-width: 1158px) {
  .section-one-color {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../../images/images-desk/desk-hero-office@2x.jpg);
  }

.h-one {    
        font-size: 56px;
        line-height: 1.07;
}
    
}

/* @media screen and (min-resolution:192dpi) and (min-width: 1158px),
screen and (min-resolution:2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
{} */

/* ========== MOBILE FORM ========== */

/* ========== /MOBILE FORM ========== */
/* 
.hero
 {
  background-color: #2e2f42;
  color: #f4f4fd;
} 
.h-one {
  color: #fff;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  text-align: center;
}
.hero-button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
.hero {
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/bg.jpg);
  background-size: cover;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}
.h-one {
  margin-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/